.additional-products {
  display: flex;
  flex-direction: column;
}

.additional-products__item {
  display: flex;
  flex-direction: column;
}

.additional-products__title {
  position: relative;

  @include font(24px, 24px);
  font-weight: 400;
  margin: 0;
  padding: 30px 0;

  &::after {
    position: absolute;
    content: "";
    width: 53px;
    height: 3px;
    background-color: $green;
    top: 45px;
    right: -20px;
  }
}

.products-item__text {
  font-family: "Arial:", sans-serif;

  @include font(14px, 14px);

  &--bold {
    font-family: "Oswald", "Arial", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
  }
}

.products-item__content-wrapper {
  display: flex;
  justify-content: space-between;
}

.btn {
  @include btn;

  &--additional {
    margin-bottom: 17px;
  }
}
