.additional-products {
  display: flex;
  width: 320px;
  margin: 0 auto;
  flex-direction: column;
  margin-bottom: 38px;
}

.additional-products__item {
  display: flex;
  flex-direction: column;
}

.additional-products__title {
  position: relative;
  background-color: #ffffff;
  width: 247px;
  margin-top: -52px;
  margin-bottom: 0;

  @include font(24px, 24px);
  font-weight: 400;
  padding: 28px 0 34px 0;
}


@media (min-width: $tablet-width) {
  .additional-products {
    width: 768px;
    margin: 0 auto;
  }

  .additional-products__item {
    position: relative;
    border: 1px solid $light-grey;
    margin-top: -1px;
    box-sizing: border-box;
    padding: 28px 38px;
  }

  .additional-products__title {
    position: relative;

    @include font(36px, 36px);
    margin-left: -2px;
    margin-top: -100px;
    padding: 68px 0 80px 39px;
    width: 374px;
  }
}

@media (min-width: $desktop-width) {
  .additional-products {
    width: 1300px;
  }

  .additional-products__title {
    position: relative;
    margin-top: -176px;
    margin-bottom: 1px;
    margin-left: -60px;
  }

  .additional-products__item {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    width: 895px;
    height: 73px;
    margin-left: -22px;
    border-right: none;
    border-left: none;
  }

  .products-item__content-wrapper {
    margin-left: 330px;
  }

  .products-item__margin-desk {
    margin-left: 70px;
  }
}
