.address {
  background-color: #ffffff;

  &--grey {
    background-color: $grey;
  }
}

.container--address {
  display: flex;
}

.address__text {
  @include font(16px, 20px);
  width: 140px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;

  padding: {
    top: 30px;
    bottom: 30px;
  }

  &--regular {
    @include font(14px, 20px);
    font-family: "Arial", sans-serif;
    text-transform: none;
    padding-top: 31px;
  }

  &--br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .address {
    background-color: #ffffff;

    &--grey {
      background-color: $grey;
    }
  }

  .container--address {
    display: flex;
    justify-content: space-between;
  }

  .address__text {
    @include font(20px, 25px);
    width: 160px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;

    padding: {
      top: 30px;
      bottom: 30px;
    }

    &--regular {
      @include font(16px, 20px);
      text-transform: none;
      padding-top: 31px;
      text-align: right;
    }

    &--br {
      display: block;
    }
  }
}
