body {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: $tablet-width) {
  body {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    background-color: #ffffff;
    background-position: top center;
    background-repeat: no-repeat;
    width: 768px;
    margin: 0 auto;
    padding: 0;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.container {
  box-sizing: border-box;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .container {
    box-sizing: border-box;
    padding: 0 30px;
  }
}

.image {
  width: 100%;
  height: auto;
}

.decoration-line {
  margin: 0;
  background: none;
  color: none;

  &--lighten-grey {
    background: $grey;
    color: $grey;
  }
}
