.catalog__main-title {
  @include font(36px, 60px);
  font-weight: normal;
  width: 280px;
  margin: 15px auto 27px auto;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
}

.catalog__item-wrapper {
  display: flex;
}

.catalog__image-wrapper,
.catalog__content-wrapper {
  width: 140px;
}

.catalog__add-link {
  text-decoration: none;
  color: #000000;
}

.catalog__title {
  @include font(16px, 20px);
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  width: 100px;
  margin-top: 22px;
  margin-bottom: 13px;

  &--two {
    width: 202px;
    margin: 79px auto 0 auto;
    white-space: nowrap;
  }
}

.catalog__row {
  display: flex;
  justify-content: space-between;
}

.catalog__text {
  @include font(12px, 16px);
  font-family: "Arial", sans-serif;

  &--two {
    margin: 9px auto 0 auto;
  }
}

.catalog__link {
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .catalog {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 708px;
    margin: 0 auto;
  }

  .catalog__main-title {
    @include font(60px, 60px);
    width: 500px;
    margin: 54px 0 54px 0;
  }

  .catalog__item {
    position: relative;
    width: 324px;
    box-sizing: border-box;
    padding: 141px 35px 18px 37px;
    margin: 112px 0 27px 0;
    background-color: $grey;

    &:nth-of-type(even) {
      margin-left: auto;
    }
  }

  .catalog__item--two {
    background-color: #ffffff;
    border: 1px solid $grey;
  }

  .catalog__item-wrapper {
    flex-direction: column;
  }

  .catalog__image-wrapper {
    width: 324px;
  }

  .catalog__img {
    position: absolute;
    width: 324px;
    top: -46px;
    left: 0;

    &--big {
      top: -82px;
    }
  }

  .catalog__content-wrapper {
    width: 250px;
  }

  .catalog__title {
    @include font(20px, 20px);
    text-align: center;
    margin: 23px 0 18px 46px;
    width: 159px;

    &--two {
      white-space: normal;
      width: 150px;
      margin-left: 51px;
    }
  }

  .catalog__row {
    border-bottom: 1px solid $light-grey;
  }

  .catalog__text {
    @include font(16px, 16px);
    padding-bottom: 8px;
    padding-top: 8px;

    &--two {
      width: 180px;
      text-align: center;
      margin: 2px auto 0 auto;
    }
  }

  .catalog__add-link {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 60px;
      height: 2px;
      background-color: $grey;
      top: -58px;
      left: 95px;
    }

    &::after {
      transform: rotate(90deg);
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: 1220px;
  }

  .catalog__main-title {
    width: 1000px;
    margin: 71px 0 54px 0;
  }

  .catalog__item {
    width: 245px;
    padding: 165px 38px 40px 38px;

    &:nth-of-type(even) {
      margin-left: 0;
    }

    &:not(:nth-of-type(4n)) {
      margin-right: 80px;
    }
  }

  .catalog__image-wrapper {
    width: 245px;
  }

  .catalog__img {
    width: 245px;
  }

  .catalog__content-wrapper {
    width: 169px;
  }

  .catalog__title {
    margin: -2px 0 18px 5px;

    &--two {
      margin: -2px auto 0 auto;
    }
  }

  .catalog__text--two {
    margin: 18px 0 0 -7px;
  }

  .catalog__add-link {
    &::before,
    &::after {
      top: -83px;
      left: 54px;
    }
  }
}
