.contacts-block {
  margin-bottom: 23px;
}

.contacts-block__title {
  position: relative;
  font-weight: 400;
  margin-bottom: 34px;

  @include font(24px, 24px);

  &::after {
    position: absolute;
    content: "";
    width: 99px;
    height: 3px;
    background-color: $green;
    top: 14px;
    right: -20px;
  }
}

.form__label {
  &--email,
  &--phone {
    position: relative;
  }

  &--phone {
    margin-top: -3px;
  }
}

.icon-mail-svg {
  position: absolute;
  width: 17px;
  height: 13px;
  top: 15px;
  right: 15px;
}

.icon-phone-svg {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 12px;
  right: 11px;
}

@media (min-width: $tablet-width) {
  .contacts-block {
    margin-bottom: 23px;
    width: 690px;
    margin-left: 35px;
  }

  .contacts-block__title {
    padding: 75px 0;
    margin: 0;
    margin-top: 115px;
    margin-left: 4px;

    @include font(36px, 36px);

    &::after {
      position: absolute;
      content: "";
      width: 145px;
      height: 3px;
      background-color: $green;
      top: 97px;
      right: -65px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 30px;
      height: 3px;
      background-color: $green;
      top: 97px;
      left: -69px;
    }
  }

  .form__label {
    &--email,
    &--phone {
      @include font(20px, 30px);
    }

    &--email {
      margin-left: 6px;
      margin-top: 2px;
    }

    &--phone {
      margin-left: 4px;
      margin-top: 4px;
    }
  }

  .form__input {
    &--email,
    &--phone {
      padding: 19px 0 12px 24px;
      margin-left: 15px;
      height: 50px;
    }

    &--phone {
      padding: 19px 0 12px 19px;
    }

    &::placeholder {
      @include font(20px, 30px);
    }
  }

  .icon-mail-svg {
    top: 19px;
    right: 21px;
  }

  .icon-phone-svg {
    top: 16px;
    right: 18px;
  }
}

@media (min-width: $desktop-width) {
  .contacts-block {
    margin-bottom: 23px;
    width: 1220px;
    margin-left: 40px;
  }

  .contacts-block__wrapper {
    display: flex;
    width: 1220px;
    justify-content: space-between;
  }

  .contacts-block__title {
    margin: 0;
    padding-top: 68px;
    margin-left: -1px;

    &::after {
      width: 777px;
      height: 3px;
      top: 90px;
      right: -250px;
    }

    &::before {
      width: 70px;
      top: 90px;
      left: -110px;
    }
  }

  .form__label {
    &--email,
    &--phone {
      @include font(20px, 30px);
    }

    &--email {
      margin-left: 1px;
      margin-top: 2px;
    }

    &--phone {
      margin-left: 64px;
      margin-top: 3px;
    }
  }

  .form__input {
    &--email,
    &--phone {
      padding: 19px 0 12px 17px;
      margin-left: 22px;
      height: 49px;
      width: 485px;
    }

    &--phone {
      padding: 19px 0 10px 20px;
      width: 473px;
      margin-left: 16px;
    }
  }
}
