.example__wrapper {
  @include box-sizing;
}

.example {
  position: relative;
  background-color: $grey;
  width: 320px;
  max-width: 100%;
  margin: 0 auto;
}

.example__title {
  @include font(36px, 60px);
  font-weight: normal;
  margin: 0;
  padding-top: 17px;
}

.example__text {
  font-family: "Arial", sans-serif;
  width: 267px;
  padding-bottom: 20px;
  margin-top: 23px;
  margin-bottom: 5px;

  &--bold {
    font-family: "Oswald", "Arial", sans-serif;

    @include font(14px, 20px);

    text-transform: uppercase;
    text-align: center;
    margin-top: 34px;
    margin-left: 8px;
  }
}

.example__content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.example__info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  width: 122px;
}

.example__info-text {
  font-family: "Arial", sans-serif;

  @include font(12px, 12px);

  padding: 0;
  margin: 0;

  &--bold {
    font-family: "Oswald", "Arial", sans-serif;

    @include font(24px, 24px);

    text-transform: uppercase;

    padding: {
      top: 13px;
      bottom: 17px;
    }
  }

  &--bg-grey {
    position: absolute;
    text-align: center;
    width: 80px;
    background-color: $grey;
    top: 47px;
  }
}

.example__bg-grey {
  display: none;
}

@media (min-width: $tablet-width) {
  .example__wrapper {
    @include box-sizing;
    padding: 0 30px;
  }

  .example {
    background-color: transparent;
    border-top: 1px solid $light-grey;
    width: 768px;
  }

  .example__title {
    @include font(60px, 60px);
    padding-top: 46px;
    margin: auto;
  }

  .example__text {
    width: 680px;
    margin-top: 65px;
    padding-bottom: 47px;

    @include font(16px, 24px);

    &--bold {
      @include font(20px, 28px);

      width: 175px;
      text-align: right;
      margin-left: auto;
      padding: 0;
      margin-top: 0;
    }
  }

  .example__content-wrapper {
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .example__info {
    width: 160px;
    margin-right: 40px;
  }

  .example__info-text {
    @include font(12px, 12px);

    padding: 0;
    margin: 0;

    &--bold {
      @include font(30px, 37px);

      padding: 15px 0 19px 0;
    }

    &--bg-grey {
      @include font(14px, 12px);
      position: absolute;
      text-align: center;
      width: 130px;
      background-color: #ffffff;
      top: 65px;
    }
  }
}

@media (min-width: $desktop-width) {
  .example {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-top: none;
    box-sizing: border-box;
    padding: 0;
    padding-bottom: 76px;
    background-color: transparent;
    width: 1300px;
    height: auto;
  }

  .example__wrapper {
    @include box-sizing;
    padding-left: 40px;
  }

  .example__title {
    @include font(60px, 60px);
    text-transform: none;
    padding-top: 38px;
    padding-bottom: 24px;
    margin: 0;
  }

  .example__content-wrapper {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 365px;
    margin-top: 20px;
  }

  .example__text {
    margin-top: 110px;
    padding-top: 10px;
    width: 435px;
    margin-bottom: 21px;

    &--bold {
      font-family: "Oswald", "Arial", sans-serif;

      @include font(20px, 20px);

      text-transform: uppercase;
      text-align: center;
      margin: 0;
      padding: 0;
      margin-top: 60px;
      display: flex;
    }
  }

  .example-desk-text {
    padding-right: 63px;
  }

  .example__info {
    width: 162px;
    margin-right: 0;

    &:nth-child(2) {
      margin-right: 0;
    }
  }

  .example__info-text {
    &--bold {
      padding: 14px 0 19px 0;
    }

    &--bg-grey {
      position: absolute;

      @include font(14px, 12px);
      background-color: $grey;
      top: 64px;
      left: 15px;
    }
  }
}
