.footer-nav {
  position: relative;
  background-color: $grey;
}


.logo--footer {
  display: inline-block;
  padding: 40px 76px;
}

@media (min-width: $tablet-width) {
  .footer-nav {
    &--tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .logo {
    width: 130px;
    flex-grow: 0;

    &--footer {
      display: inline-block;
      padding: 40px 0;
      width: 130px;
    }
  }
}
