.green-line {
  width: 100%;
  height: 3px;
  background-color: $green;
  color: $green;
  background-image: linear-gradient(to right, #ffffff 50%, $green 50%);
  display: block;
  border: none;
  z-index: -2;

  &--contacts-block {
    margin-top: 38px;
  }

  &--textarea {
    margin-top: 18px;
  }

  &--checkbox {
    margin-top: 42px;
  }

  &--additional {
    position: absolute;
    top: 1877px;
    left: 0;
  }
}


@media (min-width: $tablet-width) {
  .green-line {
    background-image: none;

    &--contacts-block {
      margin-top: 213px;
    }

    &--textarea {
      margin-top: 65px;
    }

    &--checkbox {
      margin-top: 21px;
    }

    &--additional {
      top: 2591px;
    }
  }
}

@media (min-width: $desktop-width) {
  .green-line {
    margin-top: 90px;

    &--checkbox {
      margin-top: 23px;
    }

    &--additional {
      top: 1426px;
    }
  }
}
