.hero {
  position: relative;
  background-image: url("/img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 30px 0 0 0;
  width: 320px;
  text-align: center;
  background-size: 320px auto;
}

.hero__image {
  position: absolute;
  content: url("/img/index-can-mobile@1x.png");
  top: 168px;
  left: 40px;
  width: 220px;
  height: 250px;
}

@media (min-resolution: 144dpi) and (min-resolution: 1.5dppx) {
  .hero {
    background-image: url("/img/index-background-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .hero {
    background-image: url("/img/index-can-tablet@1x.jpg");
    background-position: 0 190px;
    width: 709px;
    min-height: 840px;
    text-align: left;
    padding: 0 0 0 120px;
  }

  @media (min-resolution: 144dpi) and (min-resolution: 1.5dppx) {
    .hero {
      background-image: url("/img/index-can-tablet@2x.jpg");
      background-size: 709px auto;
    }

    .hero__image {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .hero {
    background-image: url("/img/index-background-desktop@1x.jpg 1x");
    background-position: top right;
    background-clip: rect(auto, auto, auto, 930px);
    width: 1440px;
    min-height: 776px;
    text-align: left;
    padding: 0 0 0 120px;
    background-size: 720px 698px;
  }

  @media (min-resolution: 144dpi) and (min-resolution: 1.5dppx) {
    .hero {
      background-image: url("/img/index-background-desktop@2x.jpg");
    }
  }

  .hero__image {
    display: block;
    top: 148px;
    left: 593px;
    width: 515px;
    height: auto;
  }
}
