.map {
  position: relative;
  width: 320px;
  height: 365px;
}

.map__point {
  position: absolute;
  top: 141px;
  left: 131px;
  width: 55px;
  height: 55px;
  z-index: -1;
}

.map__image {
  position: absolute;
  width: 320px;
  height: 395px;
  clip: rect(34px, auto, auto, auto);
  top: -34px;
  z-index: -1;
}

@media (min-width: $tablet-width) {
  .map {
    width: 768px;
    height: 400px;
  }

  .map__point {
    position: absolute;
    top: 151px;
    left: 322px;
    width: 123px;
    height: 106px;
  }

  .map__image {
    width: 768px;
    height: 400px;
    clip: rect(4px, auto, auto, auto);
    top: 0;
  }
}

@media (min-width: $desktop-width) {
  .map {
    width: 1440px;
  }

  .map__image {
    width: 1440px;
    height: 400px;
    clip: rect(auto, auto, auto, auto);
    top: 0;
  }

  .map__point {
    position: absolute;
    top: 151px;
    left: 998px;
    width: 123px;
    height: 116px;
  }
}
