.map {
  position: relative;

  &__mobile {
    display: block;
  }

  &__tablet {
    display: none;
  }

  &__desktop {
    display: none;
  }
}

.map__point {
  position: absolute;
  top: 181px;
  left: 131px;
  width: 55px;
  height: 53px;
}

@media (min-width: $tablet-width) {
  .map {
    &__mobile {
      display: none;
    }

    &__tablet {
      display: block;
    }

    &__desktop {
      display: none;
    }
  }

  .map__point {
    position: absolute;
    top: 153px;
    left: 338px;
    width: 113px;
    height: 106px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    &__mobile {
      display: none;
    }

    &__tablet {
      display: none;
    }

    &__desktop {
      display: block;
    }
  }

  .map__point {
    position: absolute;
    top: 156px;
    left: 1003px;
    width: 113px;
    height: 106px;
  }
}
