.programs {
  @include box-sizing;
  width: 320px;
  max-width: 100%;
  margin: 0 auto;
}

.programs__item {
  position: relative;
  background: $grey;
  width: 280px;
  box-sizing: border-box;
  padding: 29px 20px 20px 20px;
  margin-bottom: 20px;

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background-color: $green;
    border-radius: 50%;
    top: 23px;
    left: 22px;
  }
}

.programs__item + .programs__item {
  margin: 0;
}

.decoration-line {
  margin: 0;
  background: none;
  color: none;

  &--lighten-grey {
    background: $grey;
    color: $grey;
  }
}


.programs__title {
  position: relative;
  padding-left: 12px;

  @include font(24px, 37px);

  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin: 0;

  &--cat-down {
    &::before {
      position: absolute;
      content: url("/img/icon-cat-slim.svg");
      width: 36px;
      height: 37px;
      top: -8px;
      left: 9px;
    }
  }

  &--cat-up {
    padding-left: 40px;

    &::before {
      position: absolute;
      content: url("/img/icon-cat-pro.svg");
      width: 68px;
      height: 70px;
      top: 5px;
      left: -8px;
    }
  }
}

.programs__text {
  font-family: "Arial", sans-serif;

  @include font(14px, 18px);

  color: #000000;
  text-align: left;
  padding: 0;
  margin: 0;

  margin-top: 30px;
  margin-bottom: 20px;
  width: 227px;
}

.programs__link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 20px;

  @include font(16px, 16px);

  color: #000000;

  &::after {
    position: absolute;
    content: url("/img/icon-right-arrow-long.svg");
    top: -2px;
    right: -35px;
    width: 24px;
    height: 11px;
    transition: 0.2s;
  }
}

.programs__link:hover {
  &::after {
    position: absolute;
    content: url("/img/icon-right-arrow-verylong.svg");
    top: -2px;
    right: -45px;
    width: 34px;
    height: 11px;
  }
}

.programs__link:active {
  opacity: 0.3;

  &::after {
    position: absolute;
    content: url("/img/icon-right-arrow-verylong.svg");
    top: -1px;
    right: -60px;
    width: 34px;
    height: 11px;
  }
}

@media (min-width: $tablet-width) {
  .programs {
    box-sizing: border-box;
    padding: 0 30px;
    width: 768px;
  }

  .programs__item {
    width: 708px;
    padding: 75px 50px 60px 50px;
    margin-bottom: 30px;

    &::before {

      content: "";
      width: 200px;
      height: 200px;
      top: 92px;
      left: 447px;
    }
  }

  .decoration-line {
    display: none;
  }


  .programs__title {
    @include font(36px, 37px);
    padding-left: 3px;
    text-align: left;

    &--cat-down {
      &::before {
        width: 140px;
        height: 194px;
        top: 5px;
        left: 426px;
      }
    }

    &--cat-up {
      &::before {
        width: 268px;
        height: 70px;
        top: 60px;
        left: 362px;
      }
    }
  }

  .programs__text {
    @include font(16px, 24px);

    margin-top: 26px;
    margin-bottom: 60px;
    margin-left: 1px;
    width: 342px;

    &--max-width {
      width: 372px;
    }
  }

  .programs__link {
    margin-top: -8px;
    margin-left: 2px;

    @include font(20px, 20px);

    color: #000000;

    &::after {
      position: absolute;
      content: url("/img/icon-right-arrow-long.svg");
      top: -3px;
      right: -48px;
      width: 24px;
      height: 11px;
    }
  }
}

@media (min-width: $desktop-width) {
  .programs {
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 1220px;
  }

  .programs__item {
    width: 570px;
    padding: 75px 52px 60px 52px;

    &::before {

      content: "";
      width: 100px;
      height: 100px;
      top: 47px;
      left: 52px;
    }
  }

  .programs__item + .programs__item {
    margin-bottom: 30px;
  }

  .programs__title {
    @include font(36px, 37px);


    &--cat-down {
      padding-left: 163px;

      &::before {
        width: 70px;
        height: 97px;
        top: -34px;
        left: 14px;
      }
    }

    &--cat-up {
      padding-left: 162px;

      &::before {
        width: 135px;
        height: 56px;
        top: -6px;
        left: -19px;
      }
    }
  }

  .programs__text {
    @include font(16px, 24px);

    margin-top: 75px;
    margin-bottom: 31px;
    width: 465px;
  }

  .programs__link {
    margin-top: 0;
    margin-left: 0;

    &::after {
      top: -4px;
      right: -48px;
    }
  }

  .programs__link:hover {
    &::after {
      top: -3px;
      right: -58px;
    }
  }
}
