.promo {
  background-image: url("/img/gift-photo-mobile@1x.jpg");
  color: #ffffff;
  width: 280px;
  margin: 0 auto;

  @media (min-resolution: 144dpi) and (min-resolution: 1.5dppx) {
    background-image: url("/img/gift-photo-mobile@2x.jpg");
    background-size: cover;
  }
  margin-bottom: 35px;
}

.promo__text {
  position: relative;
  font-family: "Arial", sans-serif;

  @include font(16px, 20px);

  text-align: center;
  padding: 0;
  margin-right: 0;
  padding-top: 187px;
  padding-bottom: 42px;

  &::before {
    content: url("/img/gift-white.png");
    width: 58px;
    height: 61px;
    position: absolute;
    top: 65px;
    left: 112px;
  }
}

@media (min-width: $tablet-width) {
  .promo {
    width: 708px;
    background-image: url("/img/gift-photo-tablet@1x.jpg");
    margin-top: 66px;
    margin-bottom: 77px;

    @media (min-resolution: 144dpi) and (min-resolution: 1.5dppx) {
      background-image: url("/img/gift-photo-tablet@2x.jpg");
      background-size: cover;
    }
  }

  .promo__text {
    text-align: left;
    padding-top: 73px;
    padding-bottom: 66px;
    margin-left: 424px;

    &::before {
      content: url("/img/gift-white.png");
      width: 58px;
      height: 61px;
      position: absolute;
      top: 65px;
      left: -333px;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo {
    background-image: url("/img/gift-photo-desktop@1x.jpg");
    width: 245px;
    height: 289px;
    margin-top: -19px;

    @media (min-resolution: 144dpi) and (min-resolution: 1.5dppx) {
      background-image: url("/img/gift-photo-desktop@2x.jpg");
      background-size: cover;
    }
  }

  .promo__text {
    text-align: center;
    padding-top: 187px;
    padding-bottom: 65px;
    margin-left: 0;

    &::before {
      content: url("/img/gift-white.png");
      width: 58px;
      height: 61px;
      position: absolute;
      top: 65px;
      left: 94px;
    }
  }

  .promo__desk-wrapp {
    display: flex;
    align-items: center;
    width: 1300px;
    margin: 0 auto;
    margin-bottom: 9px;
  }
}
