.promo-text {
  color: #ffffff;
  text-align: center;
  padding: 0;
  margin: 0;

  &--medium {
    margin-top: 20px;
    text-transform: uppercase;

    @include font(14px, 14px);
  }

  &--bold {
    @include font(36px, 36px);
  }
}
