.promo {
  background-image: url("/img/gift-photo-mobile@1x.jpg");
  color: #ffffff;

  &__text {
    position: relative;
    font-family: "Arial", sans-serif;

    @include font(16px, 20px);

    text-align: center;
    padding: 0;
    margin-right: 0;
    padding-top: 190px;
    padding-bottom: 40px;

    &::before {
      content: url("/img/gift-white.png");
      width: 58px;
      height: 61px;
      position: absolute;
      top: 60px;
      left: 110px;
    }
  }
}

@media (min-width: $tablet-width) {
  .promo {
    background-image: url("/img/gift-photo-tablet@1x.jpg");
    margin-top: 60px;

    &__text {
      text-align: left;
      padding-top: 75px;
      padding-bottom: 65px;
      margin-left: 422px;

      &::before {
        content: url("/img/gift-white.png");
        width: 58px;
        height: 61px;
        position: absolute;
        top: 65px;
        left: -335px;
      }
    }
  }
}
