.slider {
  position: relative;
}

.slider__mobile {
  display: block;
}

.slider__tablet {
  display: none;
}


.slider__image {
  margin-top: 9px;
}

.slider__image--before {
  display: block;
}

.slider__image--after {
  display: none;
}

.slider__text-wrapper {
  display: flex;
  justify-content: center;
  padding: 29px 0 36px 0;
}

.slider__text {
  @include font(16px, 20px);
  text-transform: uppercase;
  padding: 0 12px;
  margin: 0;
  margin-left: 6px;
}

.slider__btn {
  cursor: pointer;
}

.slider__line {
  width: 84px;
  height: 14px;
  border: 1px solid $dark-grey;
  border-radius: 15px;
  margin-top: 3px;
  margin-left: 6px;
  box-sizing: border-box;
  padding: 3px 5px;
}

.slider__control {
  width: 35px;
  height: 6px;
  background-color: $green;
  border-radius: 5px;

  &--after {
    margin-left: auto;
  }
}

.slider__image--mobile-before,
.slider__image--mobile-after {
  display: none;
}

.slider-active {
  display: block;
}

@media (min-width: $tablet-width) {
  .slider__mobile {
    display: none;
  }

  .slider__tablet {
    display: block;
  }

  .grey-bg {
    height: 461px;
    width: 768px;
    background-image: linear-gradient(to right, $grey 50%, $lighten-grey 50%);
    margin-top: 255px;
  }

  .slider__image {
    &--tablet-before,
    &--tablet-after {
      position: absolute;
    }

    &--tablet-before {
      width: 689px;
      height: 519px;
      clip: rect(auto, 338px, auto, auto);
      top: -179px;
      left: 46px;
    }

    &--tablet-after {
      width: 690px;
      height: 517px;
      clip: rect(auto, auto, auto, 338px);
      top: -179px;
      right: 32px;
    }
  }

  .slider__text-wrapper {
    position: absolute;
    padding: 0;
    bottom: 64px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .slider__text {
    @include font(20px, 20px);
    border-bottom: 1px dotted #bebebe;
    padding: 10px 0;
    margin: 0 20px;
  }

  .slider__line {
    position: relative;
    margin-top: 18px;
    border: none;
    width: 428px;
    height: 6px;
    background-color: $light-grey;
  }

  .slider__control {
    position: absolute;
    width: 33px;
    height: 33px;
    background-color: #ffffff;
    border: 1px solid $light-grey;
    border-radius: 50%;
    top: 49.8%;
    left: 50.1%;
    transform: translate(-50.1%, -49.8%);

    &::before {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      background-color: $green;
      border-radius: 50%;
      top: 51%;
      left: 49%;
      transform: translate(-51%, -49%);
    }

    &--after {
      margin-left: auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .slider {
    width: 610px;
    margin-top: 145px;
    margin-right: 105px;
    background-color: transparent;
  }

  .grey-bg {
    display: none;
  }

  .slider__image {
    width: 677px;

    &--tablet-before {
      width: 695px;
      clip: rect(auto, 365px, auto, auto);
      top: -175px;
      left: 40px;
    }

    &--tablet-after {
      width: 690px;
      clip: rect(auto, auto, auto, 365px);
      top: -171px;
      right: -120px;
    }
  }

  .slider__text-wrapper {
    bottom: -40px;
    width: 605px;
    margin-left: 100px;
    padding-top: 0;
    padding-bottom: 28px;
  }

  .slider__line {
    position: relative;
    margin-top: 33px;
    border: none;
    width: 458px;
    height: 6px;
    background-color: $light-grey;
  }

  .slider__text {
    margin-top: 15px;
  }

  .slider__control:hover {
    box-shadow: 0 4px 4px 0 #bcbcbc;
  }

  .slider__control:active {
    border: 2px solid $green;
    box-shadow: 0 5px 4px 1px #bcbcbc;
  }
}
