.slider {
  position: relative;
}


.slider__image {
  margin-top: 9px;
}

.slider__image--before {
  display: block;
}

.slider__image--after {
  display: none;
}

.slider__text-wrapper {
  display: flex;
  justify-content: center;
  padding: 29px 0 36px 0;
}

.slider__text {
  @include font(16px, 20px);
  text-transform: uppercase;
  padding: 0 12px;
  margin: 0;
  margin-left: 6px;
}

.slider__btn {
  cursor: pointer;
}

.slider-active {
  display: block;
}

.slider__range--tablet {
  display: none;
}

.slider__range--mobile {
  width: 84px;
  height: 14px;
  appearance: none;
  border: 1px solid $light-grey;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 3px 5px;
}

.slider__range--mobile::-webkit-slider-thumb {
  appearance: none;
  width: 35px;
  height: 6px;
  background-color: $green;
  border-radius: 15px;
}

@media (min-width: $tablet-width) {
  .slider__image--after {
    display: none;
  }

  .grey-bg {
    height: 461px;
    width: 768px;
    background-image: linear-gradient(to right, $grey 50%, $lighten-grey 50%);
    margin-top: 255px;
  }

  .slider__image {
    &--tablet-before,
    &--tablet-after {
      display: block;
      position: absolute;
    }

    &--tablet-before {
      width: 689px;
      height: 519px;
      clip: rect(auto, 338px, auto, auto);
      top: -179px;
      left: 46px;
    }

    &--tablet-after {
      width: 690px;
      height: 517px;
      clip: rect(auto, auto, auto, 338px);
      top: -179px;
      right: 32px;
    }
  }

  .slider__text-wrapper {
    position: absolute;
    padding: 0;
    bottom: 64px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .slider__text {
    @include font(20px, 20px);
    border-bottom: 1px dotted #bebebe;
    padding: 10px 0;
    margin: 0 20px;
  }

  .slider__range--mobile {
    display: none;
  }

  .slider__range--tablet {
    display: block;
    appearance: none;
    width: 427px;
    height: 6px;
    border: none;
    border-radius: 15px;
    background-color: $light-grey;
    box-sizing: border-box;
    padding: 0;
  }

  .slider__range--tablet::-webkit-slider-thumb {
    appearance: none;
    width: 34px;
    height: 34px;
    background-color: $green;
    border-radius: 50%;
    border: 1px solid $light-grey;
    box-shadow: inset 0 0 0 12px #ffffff;
  }

  .slider__range--tablet:hover::-webkit-slider-thumb {
    box-shadow:
      0 5px 10px 0 $grey,
      inset 0 0 0 12px #ffffff;
  }

  .slider__range--tablet:active::-webkit-slider-thumb {
    border: 1px solid $green;
  }
}

@media (min-width: $desktop-width) {
  .slider {
    width: 610px;
    margin-top: 145px;
    margin-right: 105px;
    background-color: transparent;
  }

  .grey-bg {
    display: none;
  }

  .slider__image {
    width: 677px;

    &--tablet-before {
      width: 695px;
      clip: rect(auto, 365px, auto, auto);
      top: -175px;
      left: 40px;
    }

    &--tablet-after {
      width: 690px;
      clip: rect(auto, auto, auto, 365px);
      top: -171px;
      right: -120px;
    }
  }

  .slider__text-wrapper {
    bottom: -40px;
    width: 605px;
    margin-left: 100px;
    padding-top: 0;
    padding-bottom: 28px;
  }

  .slider__text {
    margin-top: 15px;
  }

  .slider__range--tablet {
    border-radius: 15px;
    background-color: $light-grey;
  }

  .slider__range--tablet::-webkit-slider-thumb {
    box-shadow:
      0 5px 10px 0 $light-grey,
      inset 0 0 0 12px #ffffff;
  }

  .slider__range--tablet:hover::-webkit-slider-thumb {
    box-shadow:
      0 5px 10px 0 grey,
      inset 0 0 0 12px #ffffff;
  }

  .slider__range--tablet:active::-webkit-slider-thumb {
    border: 1px solid $green;
  }
}
