.textarea__title {
  position: relative;
  font-weight: 400;

  @include font(24px, 24px);

  &::after {
    position: absolute;
    content: "";
    width: 158px;
    height: 3px;
    background-color: $green;
    top: 13px;
    right: -20px;
  }
}

.textarea__input {
  display: block;
  width: 280px;

  @include font(16px, 18px);
  font-family: "Oswald", "Arial", sans-serif;
  border: 1px solid $light-grey;
  box-sizing: border-box;
  padding: 10px;
}

@media (min-width: $tablet-width) {
  .textarea {
    margin-left: 35px;
  }

  .textarea__title {
    @include font(36px, 36px);

    &::after {
      width: 479px;
      top: 18px;
      right: -13px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 30px;
      height: 3px;
      background-color: $green;
      top: 18px;
      left: -65px;
    }
  }

  .textarea__input {
    width: 630px;
    margin-top: 65px;
    margin-bottom: 65px;

    @include font(16px, 18px);
    font-family: "Oswald", "Arial", sans-serif;
    border: 1px solid $light-grey;
    box-sizing: border-box;
    padding: 10px;
  }
}

@media (min-width: $desktop-width) {
  .textarea {
    margin-left: 40px;
  }

  .textarea__title {
    @include font(36px, 36px);

    &::after {
      width: 1111px;
      top: 18px;
      right: -69px;
    }

    &::before {
      width: 70px;
      top: 18px;
      left: -110px;
    }
  }

  .textarea__input {
    width: 1220px;
    height: 175px;
  }
}
